{% block footer %}
 <!-- Footer -->

<footer id="footer-container">
  <div id="footer-contact">
    <p class="footer-title">CONTACTEZ-NOUS</p>
    <div class="footer-line"></div>
    <div class="contact-items">
      <a href="tel:+33 12 34 56 78 90"
        ><span class="material-symbols-outlined footer-icon">
          call
        </span></a
      >
      <span class="footer-text">+33 12 34 56 78 90</span>
    </div>
    <div class="contact-items">
      <a href="mailto:fleuriste@gmail.com"
        ><span class="material-symbols-outlined footer-icon">
          mail
        </span></a
      >
      <span class="footer-text">fleuriste@gmail.com </span>
    </div>
  </div>
  <div>
    <p class="footer-title">ABONNEZ-VOUS</p>
    <div class="footer-line"></div>
    <div id="social-media-container">
      <a
        class="footer-media"
        target="_blank"
        href="https://www.instagram.com/"
        ><ion-icon class="footer-icon" name="logo-instagram"></ion-icon
      ></a>
      <a
        class="footer-media"
        target="_blank"
        href="https://www.facebook.com/"
        ><ion-icon class="footer-icon" name="logo-facebook"></ion-icon
      ></a>
      <a
        class="footer-media"
        target="_blank"
        href="https://www.pinterest.com/"
        ><ion-icon class="footer-icon" name="logo-pinterest"></ion-icon
      ></a>
    </div>
  </div>
  <div>
    <p class="footer-title">VALENCIENNES</p>
    <div class="footer-line"></div>
    <p class="footer-text">123 Place d'Armes,</p>
    <p class="footer-text">59304 Valenciennes</p>
  </div>
</footer>

{% endblock %}